<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="https://img.icons8.com/windows/32/000000/music.png">
    <script src="../static/index.js"></script>
    <title>Flask CRUD Application</title>
</head>
<body>
    {% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <header class="display-3">Flask CRUD Application</header>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h2>Music Play List</h2>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mymodal">Add Music</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Serial</th>
                            <th scope="col">Music Name</th>
                            <th scope="col">Composed By</th>
                            <th scope="col">Singer</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in music %}
                        <tr>
                            <td scope="row">{{row.0}}</td>
                            <td>{{row.1}}</td>
                            <td>{{row.2}}</td>
                            <td>{{row.3}}</td>
                            <td>
                                <a href="/update/" class="btn btn-warning" data-id="hello" data-toggle="modal" data-target="#editModal" onclick="edit({{row.0}})">Edit</a>
                                <a href="/delete/{{row.0}}" class="btn btn-danger" onclick="return confirm('Are you sure, you want to delete')">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="mymodal" class="modal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">INSERT MUSIC INTO A LIST</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{url_for('insert')}}" method="POST">
                            <div class="form-group">
                                <label for="name">Music Name</label>
                                <input type="text" class="form-control" id="name" name="name" required="1">
                            </div>
                            <div class="form-group">
                                <label for="composedBy">Composed By</label>
                                <input type="text" class="form-control" id="composedBy" name="composedBy" required="1">
                            </div>
                            <div class="form-group">
                                <label for="singer">Singer</label>
                                <input type="text" class="form-control" id="singer" name="singer" required="1">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="editModal" class="modal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">UPDATE DATA</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{url_for('update')}}" method="POST">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="id" name="id">
                            </div>
                            <div class="form-group">
                                <label for="name">Music Name</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="composedBy">Composed By</label>
                                <input type="text" class="form-control" id="composedBy" name="composedBy">
                            </div>
                            <div class="form-group">
                                <label for="singer">Singer</label>
                                <input type="text" class="form-control" id="singer" name="singer">
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}
</body>
</html>